.container__lista--livros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95%;
    width: 95%;
    background-color: #F4E2B4;
    border-radius: 20px;
}

    .lista__header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 20%;
        width: 100%;
    }
        .lista__name{
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            height: 30%;
            width: 100%;
        }
            .nome__lista{
                font-size: 20px;
                font-weight: bolder;
                color: #40454b;
            }

        .lista__description{
            display: flex;
            justify-content: start;
            align-items: start;
            padding-left: 20px;
            padding-right: 20px;
            height: 45%;
            width: 100%;
        }
            .descricao__lista{
                font-size: 15px;
                font-weight: bold;
                color: #40454b;
            }

        .pesquisa__lista--livro{
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 15px;
            height: 25%;
            width: 100%;
        }
            .pesquisa__livro{
                padding-left: 5px;
                height: 30px;
                width: 250px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border: none;
                background-color: #FCF6E8;
            }
            .btn__pesquisa--livro{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                border: none;
                background-color: #FCF6E8;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                cursor: pointer;
            }

    .lista__body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
        background-color: transparent;      
    }
        .lista__body--books{
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 10px;
            padding: 15px 15px;
            height: 98%;
            width: 98%;
            background-color: #FCF6E8;
            border-radius: 20px;
        }
            .botao__add--livro{
                height: 230px;
                width: 170px;
                background-color: #F4E2B4;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            .img__adicionar{
                height: 70px;
                width: 70px;
            }

    dialog{
        height: 600px;
        background-color: transparent;
        border: none;
        border-radius: 20px;
        width: 50%;
        position: fixed;
        top: 63%;
        left: 48%;
        transform: translate(-10%, -50%);
    }
        .container__livros{
            height: 90%;
            width: 90%;
            background-color: #F4E2B4;
            border-radius: 20px;
        }
            .fechar__caixa{
                display: flex;
                justify-content: end;
                align-items: center;
                padding-right: 10px;
                padding-top: 10px;
                height: 5%;
                width: 100%;
            }
                .btn__fechar--caixa{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                    border: solid 1px #40454b;
                    border-radius: 5px;
                }

            .lista__livros{
                height: 95%;
                width: 100%;
            }